<div class="container mt-3">
  <div class="header">
    <h1>Add a Cocktail</h1>
  </div>
  <div class="small-container" style="max-width: 500px; margin: 0 auto;">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.submit "Add Cocktail", class: "btn btn-orange" %>
    <% end %>
    <br>
    <%= link_to 'Back to Cocktails', cocktails_path, class: "btn btn-dark" %>
  </div>
</div>
