.show-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show-left-top i {
  color: #F74500;
  &:hover {
    color: rgb(211, 56, 0);
  }
}

.reviews-list {
  margin-bottom: 20px;
}

.reviews-content p {
  margin: 0;
}

.reviews-rating i {
  color: #F74500;
}
